#twentyquestions-form h4{
  font-size: 20px!important;
  color: #000!important;
}

.inactive{
  max-height: 1px;
  overflow: hidden;
}

.active{
  display: block;
  height: auto;
}

#twentyquestions-form select{
  height: 25px!important;
}

#twentyquestions-form{
  display: flex;
  flex-direction: column;
}

#twentyquestions-form .question, #twentyquestions-form .opptional{
  padding: 20px;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  color: #000;
}

#twentyquestions-form .question:first-child{
  border-top: 2px solid #000;
  border-radius: 4px 4px 0 0;
}

#twentyquestions-form .gender{
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

#twentyquestions-form div:nth-child(even){
  background-color: #ccc;
  padding: 20px;
}

#twentyquestions-form div:nth-child(odd){
  background-color: #fff;
}

#twentyquestions-form .opptional{
  background-color: #f7bf23!important;
}

.border-radius_bottom{
  border-radius: 0 0 4px 4px; 
}

#submit{
  margin: 20px auto;
  background-color: #f7bf23;
  color: #000;
  border: 2px solid #000;
  border-radius: 4px;
}

#question-twentyone{
display: flex;
flex-direction: column;
}

.qtwentyone-feild{
  display: flex;
  align-items: center;
  padding: 20px;
}

#twentyquestions-form label{
  margin-bottom: 0!important;
  color: #000!important;
}

.wrapper{
  margin: 0 10%;
}

.results p{
  font-size: 20px;
  color: #fff;
}

.number-yes{
  color: #FFC509;
}